#js100_test1{

    margin: auto;

    padding: 0px;

    border: 1px solid #660000;

    width:800px;

    height:650px;

    position: relative;

}


#js100_test1 div {

    display: inline-block;

    margin: 0px;

    padding: 0px;

    width: 150px;

    height: 150px;

    border: 1px solid #777777;

}


#js100_test1 div img {

    display: block;

    margin: auto;

    padding: 0px;

    margin-top: 50%;

    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */

}


#bleu {

    background-color:blue;

    position:absolute;

    top:50px;

    left:50px;

}


#orange {

    background-color:orange;

    position:absolute;

    top:50px;

    left:300px;

}


#vert {

    background-color:green;

    position:absolute;

    top:50px;

    left:550px;

}


#rouge {

    background-color:red;

    position:absolute;

    top:250px;

    left:50px;

}


#jaune {

    background-color:yellow;

    position:absolute;

    top:250px;

    left:300px;

}


#noir {

    background-color:black;

    position:absolute;

    top:250px;

    left:550px;

}


#cyan {

    background-color:cyan;

    position:absolute;

    top:450px;

    left:300px;

}


#gris {

    background-color:grey;

    position:absolute;

    top:450px;

    left:550px;

}


#violet {

    background-color:purple;

    position:absolute;

    top:450px;

    left:50px;

}